body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #333;
  
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #45a049;
}

.cart, .checkout {
  margin: 2rem 0;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.cart-item img {
  width: 60px;
  border-radius: 6px;
}

.cart-item button {
  background: #e53935;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background: #c62828;
}

.checkout ul {
  list-style: none;
  padding: 0;
}

.checkout button {
  margin-top: 1rem;
  padding: 10px 20px;
  background: #2196F3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.checkout button:hover {
  background: #1976D2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 0px 20px;
}
.navbar h1 {
  font-size: 23px;
  color: white;
  color: red;
}
.navbar .nav-links{
  display: flex;
  gap: 25px;
  margin-right: 20px;

}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
